gov-services/electrical-service/src/main/webapp/wsdl/PermitElectricalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AcmeFlightService"
  targetNamespace="urn:permit.gov.org:electricalservice"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:permit.gov.org:electricalservice"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="urn:permit.gov.org:electricalservice"
        schemaLocation="PermitElectricalService_schema1.xsd" />
    </schema>
  </wsdl:types>
  <wsdl:message name="submitPermitRequest">
    <wsdl:part name="parameters" element="tns:PermitRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitPermitRequestResponse">
    <wsdl:part name="parameters" element="tns:PermitRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermitRequestStatus">
    <wsdl:part name="parameters" element="tns:PermitStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermitRequestStatusResponse">
    <wsdl:part name="parameters" element="tns:PermitStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rescindPermit">
    <wsdl:part name="parameters" element="tns:PermitRecindRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rescindPermitResponse">
    <wsdl:part name="parameters" element="tns:PermitRecindResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PermitElectricalServiceInterface">
    <wsdl:operation name="submitPermitRequest">
      <wsdl:input name="submitPermitRequest" message="tns:submitPermitRequest">
      </wsdl:input>
      <wsdl:output name="submitPermitRequestResponse" message="tns:submitPermitRequestResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermitRequestStatus">
      <wsdl:input name="getPermitRequestStatus" message="tns:getPermitRequestStatus">
      </wsdl:input>
      <wsdl:output name="getPermitRequestStatusResponse" message="tns:getPermitRequestStatusResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rescindPermit">
      <wsdl:input name="rescindPermit" message="tns:rescindPermit">
      </wsdl:input>
      <wsdl:output name="rescindPermitResponse" message="tns:rescindPermitResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PermitElectricalServiceSoapBinding" type="tns:PermitElectricalServiceInterface">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="submitPermitRequest">
      <soap:operation
        soapAction="urn:permit.gov.org:electricalservice:submitPermitRequest"
        style="document" />
      <wsdl:input name="submitPermitRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="submitPermitRequestResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermitRequestStatus">
      <soap:operation soapAction="urn:permit.gov.org:electricalservice:getPermitRequestStatus" style="document" />
      <wsdl:input name="getPermitRequestStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPermitRequestStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rescindPermit">
      <soap:operation soapAction="urn:permit.gov.org:electricalservice:rescindPermit" style="document" />
      <wsdl:input name="rescindPermit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="rescindPermitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PermitElectricalService">
    <wsdl:port name="PermitElectricalServiceInterfaceImplPort" binding="tns:PermitElectricalServiceSoapBinding">
      <soap:address location="http://localhost:8080/PermitElectricalServiceInterfaceImplPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
